body{
background: #019031;
color: white;
}

.logo{

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 250px;
  width: 250px;

}
.container{
  margin-left: 650px;
}
.tagline{
  margin-left: 650px;
}
.list{
  margin-left: 610px;

}
ul{
  list-style-type: none;
}
li{
  background-color: aliceblue;
  color: black;
  width: 320px;
}
.btn-delete{
  background-color: red;
  padding: 5px;
  margin-left: 100px;
  color: white;
  border-radius: 10px;
}
.btn-add{
  background-color: blueviolet;

  margin-left: 10px;
  color: white;
  border-radius: 2px;
}